body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a {
    position: relative;
    padding: 10px;
    transition: color 2s ease-in-out;
}

nav ul li a:hover {
    color: #e67e22;
}

nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #e67e22;
    transition: 2s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 50%;
}

nav ul li a:hover::after {
    width: 60%;
}


#hero {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

section {
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


.timeline .event {
    background-color: #ecf0f1;
    padding: 15px;
    margin: 10px 0;
    border-left: 4px solid #3498db;
    transition: transform 0.3s ease-in-out;
}

.timeline .event:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

input:focus, textarea:focus {
    border-color: #3498db;
}

button {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #34495e;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 8px;
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}